* {
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  margin-bottom: 0.8rem;
}

a {
  color: orange;
}

button {
  background-color: blue;
  border-radius: 20px;
  border: 1px solid black;
  color: white;
  padding: 0.8rem;
}

.error {
  border-color: red;
  color: red;
  margin: 0.8rem;
  padding: 0.8rem;
  border-radius: 20px;
  border-width: 1px;
  border: 1px solid;
}

.info {
  border-color: pink;
  color: pink;
  margin: 0.8rem;
  padding: 0.8rem;
  border-radius: 20px;
  border-width: 1px;
  border: 1px solid;
}

.text-primary {
  color: blue;
}

.text-hover-primary:hover {
  color: blue;
}

.bg-primary {
  background-color: blue;
}

.text-primary-light-1 {
  color: #1a1aff;
}

.bg-hover-primary-light-1:hover {
  background-color: #1a1aff;
}

.bg-primary-light-1 {
  background-color: #1a1aff;
}

.text-primary-light-2 {
  color: #3333ff;
}

.bg-hover-primary-light-2:hover {
  background-color: #3333ff;
}

.bg-primary-light-2 {
  background-color: #3333ff;
}

.text-primary-light-3 {
  color: #4d4dff;
}

.bg-hover-primary-light-3:hover {
  background-color: #4d4dff;
}

.bg-primary-light-3 {
  background-color: #4d4dff;
}

.text-primary-light-4 {
  color: #6666ff;
}

.bg-hover-primary-light-4:hover {
  background-color: #6666ff;
}

.bg-primary-light-4 {
  background-color: #6666ff;
}

.text-primary-light-5 {
  color: #8080ff;
}

.bg-hover-primary-light-5:hover {
  background-color: #8080ff;
}

.bg-primary-light-5 {
  background-color: #8080ff;
}

.text-primary-light-6 {
  color: #9999ff;
}

.bg-hover-primary-light-6:hover {
  background-color: #9999ff;
}

.bg-primary-light-6 {
  background-color: #9999ff;
}

.text-primary-light-7 {
  color: #b3b3ff;
}

.bg-hover-primary-light-7:hover {
  background-color: #b3b3ff;
}

.bg-primary-light-7 {
  background-color: #b3b3ff;
}

.text-primary-light-8 {
  color: #ccccff;
}

.bg-hover-primary-light-8:hover {
  background-color: #ccccff;
}

.bg-primary-light-8 {
  background-color: #ccccff;
}

.text-primary-light-9 {
  color: #e6e6ff;
}

.bg-hover-primary-light-9:hover {
  background-color: #e6e6ff;
}

.bg-primary-light-9 {
  background-color: #e6e6ff;
}

.text-primary-dark-1 {
  color: #0000e6;
}

.bg-primary-dark-1 {
  background-color: #0000e6;
}

.text-primary-dark-2 {
  color: #0000cc;
}

.bg-primary-dark-2 {
  background-color: #0000cc;
}

.text-primary-dark-3 {
  color: #0000b3;
}

.bg-primary-dark-3 {
  background-color: #0000b3;
}

.text-primary-dark-4 {
  color: #000099;
}

.bg-primary-dark-4 {
  background-color: #000099;
}

.text-primary-dark-5 {
  color: navy;
}

.bg-primary-dark-5 {
  background-color: navy;
}

.text-primary-dark-6 {
  color: #000066;
}

.bg-primary-dark-6 {
  background-color: #000066;
}

.text-primary-dark-7 {
  color: #00004d;
}

.bg-primary-dark-7 {
  background-color: #00004d;
}

.text-primary-dark-8 {
  color: #000033;
}

.bg-primary-dark-8 {
  background-color: #000033;
}

.text-primary-dark-9 {
  color: #00001a;
}

.bg-primary-dark-9 {
  background-color: #00001a;
}

.text-secondary {
  color: orange;
}

.text-hover-secondary:hover {
  color: orange;
}

.bg-secondary {
  background-color: orange;
}

.text-secondary-light-1 {
  color: #ffae1a;
}

.bg-hover-secondary-light-1:hover {
  background-color: #ffae1a;
}

.bg-secondary-light-1 {
  background-color: #ffae1a;
}

.text-secondary-light-2 {
  color: #ffb733;
}

.bg-hover-secondary-light-2:hover {
  background-color: #ffb733;
}

.bg-secondary-light-2 {
  background-color: #ffb733;
}

.text-secondary-light-3 {
  color: #ffc04d;
}

.bg-hover-secondary-light-3:hover {
  background-color: #ffc04d;
}

.bg-secondary-light-3 {
  background-color: #ffc04d;
}

.text-secondary-light-4 {
  color: #ffc966;
}

.bg-hover-secondary-light-4:hover {
  background-color: #ffc966;
}

.bg-secondary-light-4 {
  background-color: #ffc966;
}

.text-secondary-light-5 {
  color: #ffd280;
}

.bg-hover-secondary-light-5:hover {
  background-color: #ffd280;
}

.bg-secondary-light-5 {
  background-color: #ffd280;
}

.text-secondary-light-6 {
  color: #ffdb99;
}

.bg-hover-secondary-light-6:hover {
  background-color: #ffdb99;
}

.bg-secondary-light-6 {
  background-color: #ffdb99;
}

.text-secondary-light-7 {
  color: #ffe4b3;
}

.bg-hover-secondary-light-7:hover {
  background-color: #ffe4b3;
}

.bg-secondary-light-7 {
  background-color: #ffe4b3;
}

.text-secondary-light-8 {
  color: #ffedcc;
}

.bg-hover-secondary-light-8:hover {
  background-color: #ffedcc;
}

.bg-secondary-light-8 {
  background-color: #ffedcc;
}

.text-secondary-light-9 {
  color: #fff6e6;
}

.bg-hover-secondary-light-9:hover {
  background-color: #fff6e6;
}

.bg-secondary-light-9 {
  background-color: #fff6e6;
}

.text-secondary-dark-1 {
  color: #e69500;
}

.bg-secondary-dark-1 {
  background-color: #e69500;
}

.text-secondary-dark-2 {
  color: #cc8400;
}

.bg-secondary-dark-2 {
  background-color: #cc8400;
}

.text-secondary-dark-3 {
  color: #b37400;
}

.bg-secondary-dark-3 {
  background-color: #b37400;
}

.text-secondary-dark-4 {
  color: #996300;
}

.bg-secondary-dark-4 {
  background-color: #996300;
}

.text-secondary-dark-5 {
  color: #805300;
}

.bg-secondary-dark-5 {
  background-color: #805300;
}

.text-secondary-dark-6 {
  color: #664200;
}

.bg-secondary-dark-6 {
  background-color: #664200;
}

.text-secondary-dark-7 {
  color: #4d3200;
}

.bg-secondary-dark-7 {
  background-color: #4d3200;
}

.text-secondary-dark-8 {
  color: #332100;
}

.bg-secondary-dark-8 {
  background-color: #332100;
}

.text-secondary-dark-9 {
  color: #1a1100;
}

.bg-secondary-dark-9 {
  background-color: #1a1100;
}

.text-error {
  color: red;
}

.text-hover-error:hover {
  color: red;
}

.bg-error {
  background-color: red;
}

.text-error-light-1 {
  color: #ff1a1a;
}

.bg-hover-error-light-1:hover {
  background-color: #ff1a1a;
}

.bg-error-light-1 {
  background-color: #ff1a1a;
}

.text-error-light-2 {
  color: #ff3333;
}

.bg-hover-error-light-2:hover {
  background-color: #ff3333;
}

.bg-error-light-2 {
  background-color: #ff3333;
}

.text-error-light-3 {
  color: #ff4d4d;
}

.bg-hover-error-light-3:hover {
  background-color: #ff4d4d;
}

.bg-error-light-3 {
  background-color: #ff4d4d;
}

.text-error-light-4 {
  color: #ff6666;
}

.bg-hover-error-light-4:hover {
  background-color: #ff6666;
}

.bg-error-light-4 {
  background-color: #ff6666;
}

.text-error-light-5 {
  color: #ff8080;
}

.bg-hover-error-light-5:hover {
  background-color: #ff8080;
}

.bg-error-light-5 {
  background-color: #ff8080;
}

.text-error-light-6 {
  color: #ff9999;
}

.bg-hover-error-light-6:hover {
  background-color: #ff9999;
}

.bg-error-light-6 {
  background-color: #ff9999;
}

.text-error-light-7 {
  color: #ffb3b3;
}

.bg-hover-error-light-7:hover {
  background-color: #ffb3b3;
}

.bg-error-light-7 {
  background-color: #ffb3b3;
}

.text-error-light-8 {
  color: #ffcccc;
}

.bg-hover-error-light-8:hover {
  background-color: #ffcccc;
}

.bg-error-light-8 {
  background-color: #ffcccc;
}

.text-error-light-9 {
  color: #ffe6e6;
}

.bg-hover-error-light-9:hover {
  background-color: #ffe6e6;
}

.bg-error-light-9 {
  background-color: #ffe6e6;
}

.text-error-dark-1 {
  color: #e60000;
}

.bg-error-dark-1 {
  background-color: #e60000;
}

.text-error-dark-2 {
  color: #cc0000;
}

.bg-error-dark-2 {
  background-color: #cc0000;
}

.text-error-dark-3 {
  color: #b30000;
}

.bg-error-dark-3 {
  background-color: #b30000;
}

.text-error-dark-4 {
  color: #990000;
}

.bg-error-dark-4 {
  background-color: #990000;
}

.text-error-dark-5 {
  color: maroon;
}

.bg-error-dark-5 {
  background-color: maroon;
}

.text-error-dark-6 {
  color: #660000;
}

.bg-error-dark-6 {
  background-color: #660000;
}

.text-error-dark-7 {
  color: #4d0000;
}

.bg-error-dark-7 {
  background-color: #4d0000;
}

.text-error-dark-8 {
  color: #330000;
}

.bg-error-dark-8 {
  background-color: #330000;
}

.text-error-dark-9 {
  color: #1a0000;
}

.bg-error-dark-9 {
  background-color: #1a0000;
}

.text-info {
  color: pink;
}

.text-hover-info:hover {
  color: pink;
}

.bg-info {
  background-color: pink;
}

.text-info-light-1 {
  color: #ffc6d0;
}

.bg-hover-info-light-1:hover {
  background-color: #ffc6d0;
}

.bg-info-light-1 {
  background-color: #ffc6d0;
}

.text-info-light-2 {
  color: #ffcdd5;
}

.bg-hover-info-light-2:hover {
  background-color: #ffcdd5;
}

.bg-info-light-2 {
  background-color: #ffcdd5;
}

.text-info-light-3 {
  color: #ffd3db;
}

.bg-hover-info-light-3:hover {
  background-color: #ffd3db;
}

.bg-info-light-3 {
  background-color: #ffd3db;
}

.text-info-light-4 {
  color: #ffd9e0;
}

.bg-hover-info-light-4:hover {
  background-color: #ffd9e0;
}

.bg-info-light-4 {
  background-color: #ffd9e0;
}

.text-info-light-5 {
  color: #ffe0e5;
}

.bg-hover-info-light-5:hover {
  background-color: #ffe0e5;
}

.bg-info-light-5 {
  background-color: #ffe0e5;
}

.text-info-light-6 {
  color: #ffe6ea;
}

.bg-hover-info-light-6:hover {
  background-color: #ffe6ea;
}

.bg-info-light-6 {
  background-color: #ffe6ea;
}

.text-info-light-7 {
  color: #ffecef;
}

.bg-hover-info-light-7:hover {
  background-color: #ffecef;
}

.bg-info-light-7 {
  background-color: #ffecef;
}

.text-info-light-8 {
  color: #fff2f5;
}

.bg-hover-info-light-8:hover {
  background-color: #fff2f5;
}

.bg-info-light-8 {
  background-color: #fff2f5;
}

.text-info-light-9 {
  color: #fff9fa;
}

.bg-hover-info-light-9:hover {
  background-color: #fff9fa;
}

.bg-info-light-9 {
  background-color: #fff9fa;
}

.text-info-dark-1 {
  color: #e6adb7;
}

.bg-info-dark-1 {
  background-color: #e6adb7;
}

.text-info-dark-2 {
  color: #cc9aa2;
}

.bg-info-dark-2 {
  background-color: #cc9aa2;
}

.text-info-dark-3 {
  color: #b3868e;
}

.bg-info-dark-3 {
  background-color: #b3868e;
}

.text-info-dark-4 {
  color: #99737a;
}

.bg-info-dark-4 {
  background-color: #99737a;
}

.text-info-dark-5 {
  color: #806066;
}

.bg-info-dark-5 {
  background-color: #806066;
}

.text-info-dark-6 {
  color: #664d51;
}

.bg-info-dark-6 {
  background-color: #664d51;
}

.text-info-dark-7 {
  color: #4d3a3d;
}

.bg-info-dark-7 {
  background-color: #4d3a3d;
}

.text-info-dark-8 {
  color: #332629;
}

.bg-info-dark-8 {
  background-color: #332629;
}

.text-info-dark-9 {
  color: #1a1314;
}

.bg-info-dark-9 {
  background-color: #1a1314;
}

.text-blue {
  color: blue;
}

.text-hover-blue:hover {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.text-blue-light-1 {
  color: #1a1aff;
}

.bg-hover-blue-light-1:hover {
  background-color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.bg-hover-blue-light-2:hover {
  background-color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.bg-hover-blue-light-3:hover {
  background-color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.bg-hover-blue-light-4:hover {
  background-color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.bg-hover-blue-light-5:hover {
  background-color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.bg-hover-blue-light-6:hover {
  background-color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.bg-hover-blue-light-7:hover {
  background-color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.bg-hover-blue-light-8:hover {
  background-color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.bg-hover-blue-light-9:hover {
  background-color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.text-orange {
  color: orange;
}

.text-hover-orange:hover {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.text-orange-light-1 {
  color: #ffae1a;
}

.bg-hover-orange-light-1:hover {
  background-color: #ffae1a;
}

.bg-orange-light-1 {
  background-color: #ffae1a;
}

.text-orange-light-2 {
  color: #ffb733;
}

.bg-hover-orange-light-2:hover {
  background-color: #ffb733;
}

.bg-orange-light-2 {
  background-color: #ffb733;
}

.text-orange-light-3 {
  color: #ffc04d;
}

.bg-hover-orange-light-3:hover {
  background-color: #ffc04d;
}

.bg-orange-light-3 {
  background-color: #ffc04d;
}

.text-orange-light-4 {
  color: #ffc966;
}

.bg-hover-orange-light-4:hover {
  background-color: #ffc966;
}

.bg-orange-light-4 {
  background-color: #ffc966;
}

.text-orange-light-5 {
  color: #ffd280;
}

.bg-hover-orange-light-5:hover {
  background-color: #ffd280;
}

.bg-orange-light-5 {
  background-color: #ffd280;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.bg-hover-orange-light-6:hover {
  background-color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.bg-hover-orange-light-7:hover {
  background-color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.bg-hover-orange-light-8:hover {
  background-color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.bg-hover-orange-light-9:hover {
  background-color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8400;
}

.bg-orange-dark-2 {
  background-color: #cc8400;
}

.text-orange-dark-3 {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996300;
}

.bg-orange-dark-4 {
  background-color: #996300;
}

.text-orange-dark-5 {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-red {
  color: red;
}

.text-hover-red:hover {
  color: red;
}

.bg-red {
  background-color: red;
}

.text-red-light-1 {
  color: #ff1a1a;
}

.bg-hover-red-light-1:hover {
  background-color: #ff1a1a;
}

.bg-red-light-1 {
  background-color: #ff1a1a;
}

.text-red-light-2 {
  color: #ff3333;
}

.bg-hover-red-light-2:hover {
  background-color: #ff3333;
}

.bg-red-light-2 {
  background-color: #ff3333;
}

.text-red-light-3 {
  color: #ff4d4d;
}

.bg-hover-red-light-3:hover {
  background-color: #ff4d4d;
}

.bg-red-light-3 {
  background-color: #ff4d4d;
}

.text-red-light-4 {
  color: #ff6666;
}

.bg-hover-red-light-4:hover {
  background-color: #ff6666;
}

.bg-red-light-4 {
  background-color: #ff6666;
}

.text-red-light-5 {
  color: #ff8080;
}

.bg-hover-red-light-5:hover {
  background-color: #ff8080;
}

.bg-red-light-5 {
  background-color: #ff8080;
}

.text-red-light-6 {
  color: #ff9999;
}

.bg-hover-red-light-6:hover {
  background-color: #ff9999;
}

.bg-red-light-6 {
  background-color: #ff9999;
}

.text-red-light-7 {
  color: #ffb3b3;
}

.bg-hover-red-light-7:hover {
  background-color: #ffb3b3;
}

.bg-red-light-7 {
  background-color: #ffb3b3;
}

.text-red-light-8 {
  color: #ffcccc;
}

.bg-hover-red-light-8:hover {
  background-color: #ffcccc;
}

.bg-red-light-8 {
  background-color: #ffcccc;
}

.text-red-light-9 {
  color: #ffe6e6;
}

.bg-hover-red-light-9:hover {
  background-color: #ffe6e6;
}

.bg-red-light-9 {
  background-color: #ffe6e6;
}

.text-red-dark-1 {
  color: #e60000;
}

.bg-red-dark-1 {
  background-color: #e60000;
}

.text-red-dark-2 {
  color: #cc0000;
}

.bg-red-dark-2 {
  background-color: #cc0000;
}

.text-red-dark-3 {
  color: #b30000;
}

.bg-red-dark-3 {
  background-color: #b30000;
}

.text-red-dark-4 {
  color: #990000;
}

.bg-red-dark-4 {
  background-color: #990000;
}

.text-red-dark-5 {
  color: maroon;
}

.bg-red-dark-5 {
  background-color: maroon;
}

.text-red-dark-6 {
  color: #660000;
}

.bg-red-dark-6 {
  background-color: #660000;
}

.text-red-dark-7 {
  color: #4d0000;
}

.bg-red-dark-7 {
  background-color: #4d0000;
}

.text-red-dark-8 {
  color: #330000;
}

.bg-red-dark-8 {
  background-color: #330000;
}

.text-red-dark-9 {
  color: #1a0000;
}

.bg-red-dark-9 {
  background-color: #1a0000;
}

.text-pink {
  color: pink;
}

.text-hover-pink:hover {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.text-pink-light-1 {
  color: #ffc6d0;
}

.bg-hover-pink-light-1:hover {
  background-color: #ffc6d0;
}

.bg-pink-light-1 {
  background-color: #ffc6d0;
}

.text-pink-light-2 {
  color: #ffcdd5;
}

.bg-hover-pink-light-2:hover {
  background-color: #ffcdd5;
}

.bg-pink-light-2 {
  background-color: #ffcdd5;
}

.text-pink-light-3 {
  color: #ffd3db;
}

.bg-hover-pink-light-3:hover {
  background-color: #ffd3db;
}

.bg-pink-light-3 {
  background-color: #ffd3db;
}

.text-pink-light-4 {
  color: #ffd9e0;
}

.bg-hover-pink-light-4:hover {
  background-color: #ffd9e0;
}

.bg-pink-light-4 {
  background-color: #ffd9e0;
}

.text-pink-light-5 {
  color: #ffe0e5;
}

.bg-hover-pink-light-5:hover {
  background-color: #ffe0e5;
}

.bg-pink-light-5 {
  background-color: #ffe0e5;
}

.text-pink-light-6 {
  color: #ffe6ea;
}

.bg-hover-pink-light-6:hover {
  background-color: #ffe6ea;
}

.bg-pink-light-6 {
  background-color: #ffe6ea;
}

.text-pink-light-7 {
  color: #ffecef;
}

.bg-hover-pink-light-7:hover {
  background-color: #ffecef;
}

.bg-pink-light-7 {
  background-color: #ffecef;
}

.text-pink-light-8 {
  color: #fff2f5;
}

.bg-hover-pink-light-8:hover {
  background-color: #fff2f5;
}

.bg-pink-light-8 {
  background-color: #fff2f5;
}

.text-pink-light-9 {
  color: #fff9fa;
}

.bg-hover-pink-light-9:hover {
  background-color: #fff9fa;
}

.bg-pink-light-9 {
  background-color: #fff9fa;
}

.text-pink-dark-1 {
  color: #e6adb7;
}

.bg-pink-dark-1 {
  background-color: #e6adb7;
}

.text-pink-dark-2 {
  color: #cc9aa2;
}

.bg-pink-dark-2 {
  background-color: #cc9aa2;
}

.text-pink-dark-3 {
  color: #b3868e;
}

.bg-pink-dark-3 {
  background-color: #b3868e;
}

.text-pink-dark-4 {
  color: #99737a;
}

.bg-pink-dark-4 {
  background-color: #99737a;
}

.text-pink-dark-5 {
  color: #806066;
}

.bg-pink-dark-5 {
  background-color: #806066;
}

.text-pink-dark-6 {
  color: #664d51;
}

.bg-pink-dark-6 {
  background-color: #664d51;
}

.text-pink-dark-7 {
  color: #4d3a3d;
}

.bg-pink-dark-7 {
  background-color: #4d3a3d;
}

.text-pink-dark-8 {
  color: #332629;
}

.bg-pink-dark-8 {
  background-color: #332629;
}

.text-pink-dark-9 {
  color: #1a1314;
}

.bg-pink-dark-9 {
  background-color: #1a1314;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.test-if {
  color: black;
}

.card {
  display: block;
  padding: 0.8rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn-primary {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: blue;
}

.btn-secondary {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: orange;
}

.btn-error {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: red;
}

.btn-info {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: pink;
}

.btn-blue {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: blue;
}

.btn-orange {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: orange;
}

.btn-red {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: red;
}

.btn-pink {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: pink;
}

.btn-black {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: black;
}

.btn-white {
  cursor: pointer;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: white;
}