@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

html {
  height: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

h1 {
  font-size: 32px;
}

body {
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

button {
  background-color: black;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 1.2rem;
  font-weight: 600;
  font-size: 1rem;
}
button:hover {
  cursor: pointer;
}

#main-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

#main-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex: 1;
}

#main-container-subtitle {
  font-size: 16px;
  font-weight: 400;
}

#main-container-button {
  font-size: 16px;
  margin-top: 3rem;
}

#mood-target-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#current-mood {
  margin-bottom: 8px;
}

#outer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#middle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#inner {
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#boxes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-radius: 30px;
}

#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 4px;
  margin-bottom: 4px;
  border-style: solid;
  border-radius: 30px;
}

#box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-style: solid;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 30px;
}

#examples {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

#card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-style: solid;
  border-radius: 30px;
  flex: 1;
  margin: 0 2rem;
  padding: 2rem;
}

#card img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

#card-heading {
  margin-top: 20px;
}

#shop-card-button {
  margin-top: 2rem;
}

#profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 30px;
  flex: 1;
  margin: 0 2rem;
  padding: 2rem;
}

#profile-card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 30px;
}

#profile-card-name {
  margin-top: 2rem;
}

#profile-card-button {
  margin-top: 2rem;
  padding: 0.6rem 2rem;
}

#profile-follow-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
}

#profile-card-following {
  margin-left: 2rem;
}

#friends-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-style: solid;
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 30px;
}

.friends-list-row {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  border-radius: 30px;
  padding: 0.6rem 1rem;
}

.friends-list-row img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.friends-list-row-button {
  padding: 0.6rem 1rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  #main-container {
    padding: 4rem 2rem;
    flex-direction: row;
  }
  #main-container-title {
    justify-content: center;
  }
  #main-container-subtitle {
    font-size: 1.2rem;
  }
  #main-container-button {
    max-width: 240px;
  }
  #mood-target-container {
    flex-direction: column;
    flex: 1;
  }
  #outer {
    height: 200px;
    width: 200px;
  }
  #middle {
    height: 140px;
    width: 140px;
  }
  #inner {
    height: 80px;
    width: 80px;
  }
  #boxes {
    flex-direction: column;
    flex: 1;
  }

}
@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: orange;
  }
}

.text-complementary-summer {
  color: #e9b41d;
}

.bg-complementary-summer {
  background-color: #e9b41d;
}

.border-color-complementary-summer {
  border-color: #e9b41d;
}

.text-dominant-summer {
  color: #3fc4e4;
}

.bg-dominant-summer {
  background-color: #3fc4e4;
}

.border-color-dominant-summer {
  border-color: #3fc4e4;
}

.text-accent-summer {
  color: #f15e34;
}

.bg-accent-summer {
  background-color: #f15e34;
}

.border-color-accent-summer {
  border-color: #f15e34;
}

.text-complementary-copy-summer {
  color: black;
}

.bg-complementary-copy-summer {
  background-color: black;
}

.border-color-complementary-copy-summer {
  border-color: black;
}

.text-dominant-copy-summer {
  color: white;
}

.bg-dominant-copy-summer {
  background-color: white;
}

.border-color-dominant-copy-summer {
  border-color: white;
}

.text-accent-copy-summer {
  color: white;
}

.bg-accent-copy-summer {
  background-color: white;
}

.border-color-accent-copy-summer {
  border-color: white;
}

.text-complementary-rain {
  color: #545d68;
}

.bg-complementary-rain {
  background-color: #545d68;
}

.border-color-complementary-rain {
  border-color: #545d68;
}

.text-dominant-rain {
  color: #95a8b7;
}

.bg-dominant-rain {
  background-color: #95a8b7;
}

.border-color-dominant-rain {
  border-color: #95a8b7;
}

.text-accent-rain {
  color: #64796e;
}

.bg-accent-rain {
  background-color: #64796e;
}

.border-color-accent-rain {
  border-color: #64796e;
}

.text-complementary-copy-rain {
  color: white;
}

.bg-complementary-copy-rain {
  background-color: white;
}

.border-color-complementary-copy-rain {
  border-color: white;
}

.text-dominant-copy-rain {
  color: black;
}

.bg-dominant-copy-rain {
  background-color: black;
}

.border-color-dominant-copy-rain {
  border-color: black;
}

.text-accent-copy-rain {
  color: white;
}

.bg-accent-copy-rain {
  background-color: white;
}

.border-color-accent-copy-rain {
  border-color: white;
}

.text-complementary-sunset {
  color: #762418;
}

.bg-complementary-sunset {
  background-color: #762418;
}

.border-color-complementary-sunset {
  border-color: #762418;
}

.text-dominant-sunset {
  color: #2a1114;
}

.bg-dominant-sunset {
  background-color: #2a1114;
}

.border-color-dominant-sunset {
  border-color: #2a1114;
}

.text-accent-sunset {
  color: #e1762e;
}

.bg-accent-sunset {
  background-color: #e1762e;
}

.border-color-accent-sunset {
  border-color: #e1762e;
}

.text-complementary-copy-sunset {
  color: white;
}

.bg-complementary-copy-sunset {
  background-color: white;
}

.border-color-complementary-copy-sunset {
  border-color: white;
}

.text-dominant-copy-sunset {
  color: white;
}

.bg-dominant-copy-sunset {
  background-color: white;
}

.border-color-dominant-copy-sunset {
  border-color: white;
}

.text-accent-copy-sunset {
  color: black;
}

.bg-accent-copy-sunset {
  background-color: black;
}

.border-color-accent-copy-sunset {
  border-color: black;
}

.text-complementary-luxury {
  color: #16181d;
}

.bg-complementary-luxury {
  background-color: #16181d;
}

.border-color-complementary-luxury {
  border-color: #16181d;
}

.text-dominant-luxury {
  color: #101318;
}

.bg-dominant-luxury {
  background-color: #101318;
}

.border-color-dominant-luxury {
  border-color: #101318;
}

.text-accent-luxury {
  color: #eaeeef;
}

.bg-accent-luxury {
  background-color: #eaeeef;
}

.border-color-accent-luxury {
  border-color: #eaeeef;
}

.text-complementary-copy-luxury {
  color: white;
}

.bg-complementary-copy-luxury {
  background-color: white;
}

.border-color-complementary-copy-luxury {
  border-color: white;
}

.text-dominant-copy-luxury {
  color: white;
}

.bg-dominant-copy-luxury {
  background-color: white;
}

.border-color-dominant-copy-luxury {
  border-color: white;
}

.text-accent-copy-luxury {
  color: black;
}

.bg-accent-copy-luxury {
  background-color: black;
}

.border-color-accent-copy-luxury {
  border-color: black;
}

.text-complementary-technology {
  color: #0a405e;
}

.bg-complementary-technology {
  background-color: #0a405e;
}

.border-color-complementary-technology {
  border-color: #0a405e;
}

.text-dominant-technology {
  color: #091a2f;
}

.bg-dominant-technology {
  background-color: #091a2f;
}

.border-color-dominant-technology {
  border-color: #091a2f;
}

.text-accent-technology {
  color: white;
}

.bg-accent-technology {
  background-color: white;
}

.border-color-accent-technology {
  border-color: white;
}

.text-complementary-copy-technology {
  color: white;
}

.bg-complementary-copy-technology {
  background-color: white;
}

.border-color-complementary-copy-technology {
  border-color: white;
}

.text-dominant-copy-technology {
  color: white;
}

.bg-dominant-copy-technology {
  background-color: white;
}

.border-color-dominant-copy-technology {
  border-color: white;
}

.text-accent-copy-technology {
  color: black;
}

.bg-accent-copy-technology {
  background-color: black;
}

.border-color-accent-copy-technology {
  border-color: black;
}

.text-complementary-omega {
  color: #27036d;
}

.bg-complementary-omega {
  background-color: #27036d;
}

.border-color-complementary-omega {
  border-color: #27036d;
}

.text-dominant-omega {
  color: #6048ba;
}

.bg-dominant-omega {
  background-color: #6048ba;
}

.border-color-dominant-omega {
  border-color: #6048ba;
}

.text-accent-omega {
  color: #e3137b;
}

.bg-accent-omega {
  background-color: #e3137b;
}

.border-color-accent-omega {
  border-color: #e3137b;
}

.text-complementary-copy-omega {
  color: white;
}

.bg-complementary-copy-omega {
  background-color: white;
}

.border-color-complementary-copy-omega {
  border-color: white;
}

.text-dominant-copy-omega {
  color: white;
}

.bg-dominant-copy-omega {
  background-color: white;
}

.border-color-dominant-copy-omega {
  border-color: white;
}

.text-accent-copy-omega {
  color: white;
}

.bg-accent-copy-omega {
  background-color: white;
}

.border-color-accent-copy-omega {
  border-color: white;
}

.text-complementary-moth {
  color: #6f6152;
}

.bg-complementary-moth {
  background-color: #6f6152;
}

.border-color-complementary-moth {
  border-color: #6f6152;
}

.text-dominant-moth {
  color: #2f2b2a;
}

.bg-dominant-moth {
  background-color: #2f2b2a;
}

.border-color-dominant-moth {
  border-color: #2f2b2a;
}

.text-accent-moth {
  color: #d9dad4;
}

.bg-accent-moth {
  background-color: #d9dad4;
}

.border-color-accent-moth {
  border-color: #d9dad4;
}

.text-complementary-copy-moth {
  color: white;
}

.bg-complementary-copy-moth {
  background-color: white;
}

.border-color-complementary-copy-moth {
  border-color: white;
}

.text-dominant-copy-moth {
  color: white;
}

.bg-dominant-copy-moth {
  background-color: white;
}

.border-color-dominant-copy-moth {
  border-color: white;
}

.text-accent-copy-moth {
  color: black;
}

.bg-accent-copy-moth {
  background-color: black;
}

.border-color-accent-copy-moth {
  border-color: black;
}

.text-complementary-sketch {
  color: #0a0a0a;
}

.bg-complementary-sketch {
  background-color: #0a0a0a;
}

.border-color-complementary-sketch {
  border-color: #0a0a0a;
}

.text-dominant-sketch {
  color: #d6d6d6;
}

.bg-dominant-sketch {
  background-color: #d6d6d6;
}

.border-color-dominant-sketch {
  border-color: #d6d6d6;
}

.text-accent-sketch {
  color: white;
}

.bg-accent-sketch {
  background-color: white;
}

.border-color-accent-sketch {
  border-color: white;
}

.text-complementary-copy-sketch {
  color: white;
}

.bg-complementary-copy-sketch {
  background-color: white;
}

.border-color-complementary-copy-sketch {
  border-color: white;
}

.text-dominant-copy-sketch {
  color: black;
}

.bg-dominant-copy-sketch {
  background-color: black;
}

.border-color-dominant-copy-sketch {
  border-color: black;
}

.text-accent-copy-sketch {
  color: black;
}

.bg-accent-copy-sketch {
  background-color: black;
}

.border-color-accent-copy-sketch {
  border-color: black;
}

.text-complementary-bounce {
  color: #e5c1a5;
}

.bg-complementary-bounce {
  background-color: #e5c1a5;
}

.border-color-complementary-bounce {
  border-color: #e5c1a5;
}

.text-dominant-bounce {
  color: #100f0d;
}

.bg-dominant-bounce {
  background-color: #100f0d;
}

.border-color-dominant-bounce {
  border-color: #100f0d;
}

.text-accent-bounce {
  color: #d561a4;
}

.bg-accent-bounce {
  background-color: #d561a4;
}

.border-color-accent-bounce {
  border-color: #d561a4;
}

.text-complementary-copy-bounce {
  color: black;
}

.bg-complementary-copy-bounce {
  background-color: black;
}

.border-color-complementary-copy-bounce {
  border-color: black;
}

.text-dominant-copy-bounce {
  color: white;
}

.bg-dominant-copy-bounce {
  background-color: white;
}

.border-color-dominant-copy-bounce {
  border-color: white;
}

.text-accent-copy-bounce {
  color: white;
}

.bg-accent-copy-bounce {
  background-color: white;
}

.border-color-accent-copy-bounce {
  border-color: white;
}

.text-complementary-chromeo {
  color: #fee1b2;
}

.bg-complementary-chromeo {
  background-color: #fee1b2;
}

.border-color-complementary-chromeo {
  border-color: #fee1b2;
}

.text-dominant-chromeo {
  color: #163b68;
}

.bg-dominant-chromeo {
  background-color: #163b68;
}

.border-color-dominant-chromeo {
  border-color: #163b68;
}

.text-accent-chromeo {
  color: white;
}

.bg-accent-chromeo {
  background-color: white;
}

.border-color-accent-chromeo {
  border-color: white;
}

.text-complementary-copy-chromeo {
  color: black;
}

.bg-complementary-copy-chromeo {
  background-color: black;
}

.border-color-complementary-copy-chromeo {
  border-color: black;
}

.text-dominant-copy-chromeo {
  color: white;
}

.bg-dominant-copy-chromeo {
  background-color: white;
}

.border-color-dominant-copy-chromeo {
  border-color: white;
}

.text-accent-copy-chromeo {
  color: black;
}

.bg-accent-copy-chromeo {
  background-color: black;
}

.border-color-accent-copy-chromeo {
  border-color: black;
}

.text-complementary-fresh {
  color: #edf5e1;
}

.bg-complementary-fresh {
  background-color: #edf5e1;
}

.border-color-complementary-fresh {
  border-color: #edf5e1;
}

.text-dominant-fresh {
  color: #5cdb95;
}

.bg-dominant-fresh {
  background-color: #5cdb95;
}

.border-color-dominant-fresh {
  border-color: #5cdb95;
}

.text-accent-fresh {
  color: #05386b;
}

.bg-accent-fresh {
  background-color: #05386b;
}

.border-color-accent-fresh {
  border-color: #05386b;
}

.text-complementary-copy-fresh {
  color: black;
}

.bg-complementary-copy-fresh {
  background-color: black;
}

.border-color-complementary-copy-fresh {
  border-color: black;
}

.text-dominant-copy-fresh {
  color: black;
}

.bg-dominant-copy-fresh {
  background-color: black;
}

.border-color-dominant-copy-fresh {
  border-color: black;
}

.text-accent-copy-fresh {
  color: white;
}

.bg-accent-copy-fresh {
  background-color: white;
}

.border-color-accent-copy-fresh {
  border-color: white;
}

.text-complementary-sophisticated {
  color: #b1a296;
}

.bg-complementary-sophisticated {
  background-color: #b1a296;
}

.border-color-complementary-sophisticated {
  border-color: #b1a296;
}

.text-dominant-sophisticated {
  color: #557a95;
}

.bg-dominant-sophisticated {
  background-color: #557a95;
}

.border-color-dominant-sophisticated {
  border-color: #557a95;
}

.text-accent-sophisticated {
  color: white;
}

.bg-accent-sophisticated {
  background-color: white;
}

.border-color-accent-sophisticated {
  border-color: white;
}

.text-complementary-copy-sophisticated {
  color: black;
}

.bg-complementary-copy-sophisticated {
  background-color: black;
}

.border-color-complementary-copy-sophisticated {
  border-color: black;
}

.text-dominant-copy-sophisticated {
  color: white;
}

.bg-dominant-copy-sophisticated {
  background-color: white;
}

.border-color-dominant-copy-sophisticated {
  border-color: white;
}

.text-accent-copy-sophisticated {
  color: black;
}

.bg-accent-copy-sophisticated {
  background-color: black;
}

.border-color-accent-copy-sophisticated {
  border-color: black;
}

.text-complementary-approachable {
  color: #edc7b7;
}

.bg-complementary-approachable {
  background-color: #edc7b7;
}

.border-color-complementary-approachable {
  border-color: #edc7b7;
}

.text-dominant-approachable {
  color: #eee2dc;
}

.bg-dominant-approachable {
  background-color: #eee2dc;
}

.border-color-dominant-approachable {
  border-color: #eee2dc;
}

.text-accent-approachable {
  color: #123c69;
}

.bg-accent-approachable {
  background-color: #123c69;
}

.border-color-accent-approachable {
  border-color: #123c69;
}

.text-complementary-copy-approachable {
  color: black;
}

.bg-complementary-copy-approachable {
  background-color: black;
}

.border-color-complementary-copy-approachable {
  border-color: black;
}

.text-dominant-copy-approachable {
  color: black;
}

.bg-dominant-copy-approachable {
  background-color: black;
}

.border-color-dominant-copy-approachable {
  border-color: black;
}

.text-accent-copy-approachable {
  color: white;
}

.bg-accent-copy-approachable {
  background-color: white;
}

.border-color-accent-copy-approachable {
  border-color: white;
}

.text-complementary-clean {
  color: #5680e9;
}

.bg-complementary-clean {
  background-color: #5680e9;
}

.border-color-complementary-clean {
  border-color: #5680e9;
}

.text-dominant-clean {
  color: #84ceeb;
}

.bg-dominant-clean {
  background-color: #84ceeb;
}

.border-color-dominant-clean {
  border-color: #84ceeb;
}

.text-accent-clean {
  color: #8860d0;
}

.bg-accent-clean {
  background-color: #8860d0;
}

.border-color-accent-clean {
  border-color: #8860d0;
}

.text-complementary-copy-clean {
  color: white;
}

.bg-complementary-copy-clean {
  background-color: white;
}

.border-color-complementary-copy-clean {
  border-color: white;
}

.text-dominant-copy-clean {
  color: black;
}

.bg-dominant-copy-clean {
  background-color: black;
}

.border-color-dominant-copy-clean {
  border-color: black;
}

.text-accent-copy-clean {
  color: white;
}

.bg-accent-copy-clean {
  background-color: white;
}

.border-color-accent-copy-clean {
  border-color: white;
}