@import 'variables';

* {
    margin: 0;
    padding: 0;
}



h1 {
    color: $primary;
    margin-bottom: $base-margin;
}

a {
    color: $secondary;
}

button {
    background-color: $primary;
    border-radius: $base-border-radius;
    border: 1px solid black;
    color: white;
    padding: $base-padding;
}

.error {
    border-color: $error;
    color: $error;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
    border: 1px solid;
}

.info {
    border-color: $info;
    color: $info;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
    border: 1px solid;
}