@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

html {
   height: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

h1 {
    font-size: 32px;
}

body {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

button {
    background-color: black;
    color: white;
    border-radius: $base-border-radius;
    border: none;
    padding: $base-padding;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
        cursor: pointer;
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: $base-border-radius;
    margin-top: 40px;
    flex-wrap: wrap;
}

#main-container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 1;
}

#main-container-subtitle {
    font-size: 16px;
    font-weight: 400;
}

#main-container-button {
    font-size: 16px;
    margin-top: 3rem;
}

#mood-target-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#current-mood {
    margin-bottom: 8px;
}

#outer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#inner {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#boxes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: solid;
    border-radius: $base-border-radius;
}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4px;
    margin-bottom: 4px;
    border-style: solid;
    border-radius: $base-border-radius;
}

#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-style: solid;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: $base-border-radius;
}

#examples {
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

#card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-style: solid;
    border-radius: $base-border-radius;
    flex: 1;
    margin: 0 2rem;
    padding: 2rem;
}

#card img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: $base-border-radius;
}

#card-heading {
    margin-top: 20px;
}

#shop-card-button {
    margin-top: 2rem;
}

#profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: $base-border-radius;
    flex: 1;
    margin: 0 2rem;
    padding: 2rem;
}

#profile-card img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: $base-border-radius;
}

#profile-card-name {
    margin-top: 2rem;
}

#profile-card-button {
    margin-top: 2rem;
    padding: .6rem 2rem;
}

#profile-follow-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    text-align: center;
}

#profile-card-following {
    margin-left: 2rem;
}

#friends-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    border-style: solid;
    margin: 0 2rem;
    padding: 2rem;
    border-radius: $base-border-radius;
}

.friends-list-row {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    border-radius: $base-border-radius;
    padding: .6rem 1rem;
}

.friends-list-row img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.friends-list-row-button {
    padding: .6rem 1rem;
}

@media(min-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    #main-container {
        padding: 4rem 2rem;
        flex-direction: row;
    }

    #main-container-title {
        justify-content: center;
    }

    #main-container-subtitle {
        font-size: 1.2rem;
    }

    #main-container-button {
        max-width: 240px;
    }

    #mood-target-container {
        flex-direction: column;
        flex: 1;
    }

    #outer {
        height: 200px;
        width: 200px;
    }

    #middle {
        height: 140px;
        width: 140px;
    }

    #inner {
        height: 80px;
        width: 80px;
    }

    #boxes {
        flex-direction: column;
        flex: 1;
    }
}