@each $key, $val in $summer {
    .text-#{$key}-summer {
        color: $val;
    }

    .bg-#{$key}-summer {
        background-color: $val;
    }

    .border-color-#{$key}-summer {
        border-color: $val;
    }
}

@each $key, $val in $rain {
    .text-#{$key}-rain {
        color: $val;
    }
    .bg-#{$key}-rain {
        background-color: $val;
    }
    .border-color-#{$key}-rain {
        border-color: $val;
    }
}

@each $key, $val in $sunset {
    .text-#{$key}-sunset {
        color: $val;
    }
    .bg-#{$key}-sunset {
        background-color: $val;
    }
    .border-color-#{$key}-sunset {
        border-color: $val;
    }
}

@each $key, $val in $luxury {
    .text-#{$key}-luxury {
        color: $val;
    }
    .bg-#{$key}-luxury {
        background-color: $val;
    }
    .border-color-#{$key}-luxury {
        border-color: $val;
    }
}

@each $key, $val in $technology {
    .text-#{$key}-technology {
        color: $val;
    }
    .bg-#{$key}-technology {
        background-color: $val;
    }
    .border-color-#{$key}-technology {
        border-color: $val;
    }
}

@each $key, $val in $omega {
    .text-#{$key}-omega {
        color: $val;
    }
    .bg-#{$key}-omega {
        background-color: $val;
    }
    .border-color-#{$key}-omega {
        border-color: $val;
    }
}

@each $key, $val in $moth {
    .text-#{$key}-moth {
        color: $val;
    }
    .bg-#{$key}-moth {
        background-color: $val;
    }
    .border-color-#{$key}-moth {
        border-color: $val;
    }
}

@each $key, $val in $sketch {
    .text-#{$key}-sketch {
        color: $val;
    }
    .bg-#{$key}-sketch {
        background-color: $val;
    }
    .border-color-#{$key}-sketch {
        border-color: $val;
    }
}

@each $key, $val in $bounce {
    .text-#{$key}-bounce {
        color: $val;
    }
    .bg-#{$key}-bounce {
        background-color: $val;
    }
    .border-color-#{$key}-bounce {
        border-color: $val;
    }
}

@each $key, $val in $chromeo {
    .text-#{$key}-chromeo {
        color: $val;
    }
    .bg-#{$key}-chromeo {
        background-color: $val;
    }
    .border-color-#{$key}-chromeo {
        border-color: $val;
    }
}

@each $key, $val in $fresh {
    .text-#{$key}-fresh {
        color: $val;
    }
    .bg-#{$key}-fresh {
        background-color: $val;
    }
    .border-color-#{$key}-fresh {
        border-color: $val;
    }
}

@each $key, $val in $sophisticated {
    .text-#{$key}-sophisticated {
        color: $val;
    }
    .bg-#{$key}-sophisticated {
        background-color: $val;
    }
    .border-color-#{$key}-sophisticated {
        border-color: $val;
    }
}

@each $key, $val in $approachable {
    .text-#{$key}-approachable {
        color: $val;
    }
    .bg-#{$key}-approachable {
        background-color: $val;
    }
    .border-color-#{$key}-approachable {
        border-color: $val;
    }
}