$summer: (
    "complementary": #e9b41d,
    "dominant": #3fc4e4,
    "accent": #f15e34,
    "complementary-copy": black,
    "dominant-copy": white,
    "accent-copy": white
);

$rain: (
    "complementary": #545d68,
    "dominant":  #95a8b7,
    "accent": #64796e,
    "complementary-copy": white,
    "dominant-copy": black,
    "accent-copy": white

);

$sunset: (
    "complementary": #762418,
    "dominant": #2a1114,
    "accent": #e1762e,
    "complementary-copy": white,
    "dominant-copy": white,
    "accent-copy": black
);

$luxury: (
    "complementary": #16181d,
    "dominant": #101318,
    "accent": #eaeeef,
    "complementary-copy": white,
    "dominant-copy": white,
    "accent-copy": black
);

$technology: (
    "complementary": #0a405e,
    "dominant": #091a2f,
    "accent": white,
    "complementary-copy": white,
    "dominant-copy": white,
    "accent-copy": black
);

$omega: (
    "complementary": #27036d,
    "dominant": #6048ba,
    "accent": #e3137b,
    "complementary-copy": white,
    "dominant-copy": white,
    "accent-copy": white
);

$moth: (
    "complementary": #6f6152,
    "dominant": #2f2b2a,
    "accent": #d9dad4,
    "complementary-copy": white,
    "dominant-copy": white,
    "accent-copy": black
);

$sketch: (
    "complementary": #0a0a0a,
    "dominant": #d6d6d6,
    "accent": white,
    "complementary-copy": white,
    "dominant-copy": black,
    "accent-copy": black
);

$bounce: (
    "complementary": #e5c1a5,
    "dominant": #100f0d,
    "accent": #d561a4,
    "complementary-copy": black,
    "dominant-copy": white,
    "accent-copy": white
);

$chromeo: (
    "complementary": #fee1b2,
    "dominant": #163b68,
    "accent": white,
    "complementary-copy": black,
    "dominant-copy": white,
    "accent-copy": black
);


// spacing
$base-padding: 1.2rem;
$base-margin: 0.8rem;

$base-border-thickness: 1px;
$base-border-radius: 30px;

$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;